body{
    background: dimgray;
}

.header{
    width: 99%;
    height: 300px;
    background: coral;
    margin: 10px auto;
}

.content-menu{
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.content{
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big-block{
    width: 100%;
    height: 290px;
    background-color: darkred;
}

.blocks{
    display: flex;
    justify-content: space-between;

}

.block{
    width: 30%;
    height: 290px;
    background-color: chartreuse;

}

.menu{
    width: 19%;
    height: 600px;
    background-color: mediumpurple;
}